<nav id="context-menu" class="context-menu">
  <ul class="context-menu__items">

    <li class="context-menu__item">
      <a href="#" id="move" class="context-menu__link">Move</a>
    </li>
    <li class="context-menu__item">
      <a href="#" id="delete" class="context-menu__link" >Delete</a>
    </li>
    <li class="context-menu__item">
      <a href="#" id="copy" class="context-menu__link" >Copy</a>
    </li>
    <li class="context-menu__item">
      <a href="#" id="download" class="context-menu__link" >Download</a>
    </li>
    <li class="context-menu__item">
      <a href="#" id="collection" class="context-menu__link" >Create Collection</a>
    </li>
    <li class="context-menu__item">
      <a href="#" id="compress" class="context-menu__link" >Squeez</a>
    </li>
    <li class="context-menu__item">
    <a href="#" id="uncompress" class="context-menu__link" >Enlarge</a>
    </li>

  </ul>
</nav>
